/* .container {
    display: grid;
    align-items: center;
    justify-content: center;
    /* text-align: center; /* //Align text 
}

input {
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
	outline:none;
}

button {
    border-radius: 8px;
    padding: 8px 15px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}
*/